 .flashy {
  color: red;
  font-weight: italic;
}

li.best {
  font-weight: bold;
}

.important {
  color: darkgreen;
  font-weight: lighter;
}

.unimportant {
  color: purple;
  font-weight: bold; 
}

.column {
  width: 400px;
  float: left;
  border: 2px solid green;
  padding: 4px;
  background-color: lightblue;
  margin: 12px;
}

.img {
  float: left;
  width: 800px;
  padding: 4px;
  margin: auto;
}

.header {
  width: 400px;
  float: left;
  border: 2px solid green;
  padding: 4px;
  background-color: lightblue;
  margin: 12px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) { 
  .flashy {
  color: red;
  font-weight: italic;
}

li.best {
  font-weight: bold;
}

.important {
  color: darkgreen;
  font-weight: lighter;
}

.unimportant {
  color: purple;
  font-weight: bold; 
}

.column {
  width: 400px;
  float: left;
  border: 2px solid green;
  padding: 4px;
  background-color: lightblue;
  margin: 12px;
}

.img {
  float: left;
  width: 800px;
  padding: 4px;
  margin: auto;
}

.header {
  width: 400px;
  float: left;
  border: 2px solid green;
  padding: 4px;
  background-color: lightblue;
  margin: 12px;
} 
}
 
@media all and (min-width: 768px) and (max-width: 1024px) {  .flashy {
  color: red;
  font-weight: italic;
}

li.best {
  font-weight: bold;
}

.important {
  color: darkgreen;
  font-weight: lighter;
}

.unimportant {
  color: purple;
  font-weight: bold; 
}

.column {
  width: 400px;
  float: left;
  border: 2px solid green;
  padding: 4px;
  background-color: lightblue;
  margin: 12px;
}

.img {
  float: left;
  width: 800px;
  padding: 4px;
  margin: auto;
}

.header {
  width: 400px;
  float: left;
  border: 2px solid green;
  padding: 4px;
  background-color: lightblue;
  margin: 12px;
}}
 
@media all and (min-width: 480px) and (max-width: 768px) { .flashy {
  color: red;
  font-weight: italic;
}

li.best {
  font-weight: bold;
}

.important {
  color: darkgreen;
  font-weight: lighter;
}

.unimportant {
  color: purple;
  font-weight: bold; 
}

.column {
  width: 400px;
  float: left;
  border: 2px solid green;
  padding: 4px;
  background-color: lightblue;
  margin: 12px;
}

.img {
  float: left;
  width: 800px;
  padding: 4px;
  margin: auto;
}

.header {
  width: 400px;
  float: left;
  border: 2px solid green;
  padding: 4px;
  background-color: lightblue;
  margin: 12px;
} }
 
@media all and (max-width: 480px) {  .flashy {
  color: blue;
  font-weight: italic;
}

li.best {
  font-weight: bold;
}

.important {
  color: darkgreen;
  font-weight: lighter;
}

.unimportant {
  color: purple;
  font-weight: bold; 
}

.column {
  width: 100px;
  float: left;
  border: 1px solid green;
  padding: 2px;
  background-color: lightblue;
  margin: 3px;
}

.img {
  float: left;
  width: 100px;
  padding: 1px;
  margin: auto;
}

.header {
  width: 100px;
  float: left;
  border: 1px solid green;
  padding: 2px;
  background-color: lightblue;
  margin: 3px;
}
 